html(lang="zh-Hans")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style",content="default")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color", content="#a6d6d6")
        meta(name="msapplication-TileColor", content="#a6d6d6")
        meta(name="msapplication-TileImage", content="{{ site.site_avatar }}")
        block title
        link(rel="alternate", type="application/rss+xml", title="atom 1.0", href="/feed")
        link(rel="apple-touch-icon", sizes="192x192", href="{{ site.site_avatar }}")
        link(rel="icon", type="image/png", sizes="48x48", href="{{ site.site_avatar }}")
        link(rel="icon", type="image/png", sizes="192x192", href="{{ site.site_avatar }}")
        link(rel="stylesheet", type="text/css",href="/template/css/style.css")
    body
        .wrap
            .header
                a(href="/", title="this is a link")= site.title
                span= site.configs.sub_title
            .left
                ul.list
                    li: a(href="/", title="Home") Home
                    li: a(href="/archive", title="Archive") Archive
                    li: a(href="/tags", title="Tags") Tags
            .right
                block content
            .footer
                div= site.socials
                |©2017
                a(href="{{site.domain}}")= site.title
                |. designed by
                a(href="http://caoyue.me", target="_blank") caoyue
                |. powered by
                a(href="http://bitcron.com", target="_blank") bitcron
            script(src="https://use.typekit.net/jdb5cpn.js")
            script
                try{Typekit.load({ async: true });}catch(e){}
